# =========================
# PYTHON & ENVIRONMENTS
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# =========================
# JUPYTER NOTEBOOK
# =========================
.ipynb_checkpoints/

# =========================
# PROJECT SPECIFIC
# =========================
# Abaikan folder data mentah agar dataset 53MB tidak ter-upload
data/raw/

# Abaikan folder Samples agar tidak ter-upload
Samples/


!data/processed/cleaned_resumes.csv

# Simpan model TF-IDF agar app bisa langsung jalan
models/*.pkl

# =========================
# OS & IDE
# =========================
.DS_Store
.vscode/
.idea/CV Analyzer Redesign.html
