streamlit==1.57.0
pandas==3.0.2
spacy==3.8.14
sentence-transformers==5.4.1
torch==2.11.0
PyPDF2==3.0.1
nltk==3.9.4
ftfy==6.3.1
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl